.CustomerForm {
    margin-top: 70px;
}

.CustomerForm .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: transparent;
    border-bottom: 1px solid #8dc3e766;
    line-height: 50px;
    border-bottom-width: thin;
    color: red;
    color: #8ec4e8;
    text-transform: uppercase;
    font-size: 20px;
}

.CustomerForm a, td {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;

}



.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
.ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td, 
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: #292e3a !important; 
    font-weight: 200;
    transition: 2.8 !important; 
    border:0 !important; 
    
}

.CustomerForm  .ant-table-tbody > tr > td{

    border-bottom: 1px solid #8dc3e766;
    padding: 30px;

}



.CustomerForm i {
    font-size: 19px;
    color: #ffc200;
}
