/* Start  intergate-clintes */
.intergate-clintes {
  padding: 70px;

}

.intergate-clintes_holder {
  /* background: red; */
  border-radius: 8px;
  background-color: #292e3a;
  padding: 33px;

}

.intergate-clintes_holder blockquote {
  font-family: Barlow;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 26px;
  margin-bottom: 51px;

  border-left: 0;
  padding: 0;


}



.intergate-clintes_holder blockquote:before {
  content: open-quote;
  top: -0.1em;
  right: 11px;
}

.intergate-clintes_holder blockquote:after {
  content: close-quote;
  top: .5em;
  left: 11px;
}

.intergate-clintes_holder blockquote:before,
.intergate-clintes_holder blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: #ffc200;
  font-size: 4em;
  position: relative;
}




.intergate-clintes_info img {

  width: 87px;
  height: 87px;
  border-radius: 8px;

  position: absolute;
  top: 0;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}

.intergate-clintes_details {
  padding: 20px 12px;
  border-radius: 8px;
  box-shadow: 2px 1px 4px 0 rgba(9, 11, 23, 0.79), -2px -1px 4px 0 rgba(9, 11, 23, 0.79);
  background-color: #ffc200;
  margin-top: 60px;

}

.intergate-clintes_details h3 {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  margin-top: 45px;
}

.intergate-clintes_info {
  position: relative;
  top: 30px;

}

.intergate-clintes_details p {
  width: 34%;
  float: left;
  height: 101px;
  /* line-height: 343px; */
  /* z-index: 9; */
  margin: 0 auto;
  display: fl;
  margin-top: 47px;
  font-size: 15px;
  font-weight: 300;
}


.slick-slide {
  padding: 0 30px;
}


.intergate-clintes .slick-prev:before {

  content: url("../../../img/left.png");


}

.intergate-clintes .slick-prev {

  transform: rotate(90deg);
  width: 40px;
  left: -25px;

}





.intergate-clintes .slick-next {

  transform: rotate(-90deg);
  right: -25px;
  width: 40px;


}

.intergate-clintes .slick-next:before {

  content: url("../../../img/left.png");


}

/* end intergate-clintes */
