.NavbarAdd {
    margin-top: 24px;
}
.NavbarAdd_button.ant-btn-primary {
    width: 364px;
    height: 75px;
    border-radius: 8px;
    box-shadow: 5px 4px 5px 0 rgba(9, 11, 23, 0.79), -1px 3px 3px 0 rgba(9, 11, 23, 0.79);
    border: solid 0.3px #ffffff;
    background-color: #ffc200;
    color: rgba(9, 11, 23, 0.79);
    font-size: 26px;
    float: right;
    text-transform: uppercase;
}


.NavbarAdd i.anticon.anticon-plus {
    color: #191b2a;
    font-size: 27px;
    margin-right: 20px;
}

.NavbarAdd input.ant-input {
    background: #292e3a;
    height: 75px;
    margin: 0;
    border: 0;
    border-radius: 8px;
    box-shadow: 5px 4px 5px 0 rgba(9, 11, 23, 0.79);
    text-indent: 90px;
    font-size: 26px;
    padding-left: 30px;

}
.NavbarAdd input.ant-input::-webkit-input-placeholder { /* Edge */
      color: #8dc3e7;
      font-size: 26px;
      margin-top: 10px;

  }
  
  .NavbarAdd input.ant-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #8dc3e7;
      font-size: 26px;
      margin-top: 10px;


  }
  
  .NavbarAdd input.ant-input::placeholder {
      color: #8dc3e7;
      font-size: 26px;
border-bottom:1px solid #8dc3e766;
line-height:50px;
border-bottom-width: thin;
  }

  .NavbarAdd i.anticon.anticon-search.ant-input-search-icon {
    font-size: 36px;
    color: #8dc3e7;
}

.NavbarAdd .ant-input-affix-wrapper .ant-input-suffix {
    /* color: red !important; */
    left: 70px;
    width: 50px;
    margin-top: -5px;



}
.NavbarAdd .ant-input-affix-wrapper{
    padding-right: 60px;

}

.NavbarAdd  .ant-input {
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
}


button.ant-btn.NavbarAdd_button.ant-btn-primary:hover {
    background: #292e3a;
    transition: 0.5s;
    color: #ffc200;
}

button.ant-btn.NavbarAdd_button.ant-btn-primary:hover i.anticon.anticon-plus{
    color: #fff !important;
    transition: 0.5s;

}