.NavbarSetting-bg {
    background: #292e3a;
    box-shadow: 4px 5px 4px 0 rgba(9, 11, 23, 0.79);
    border-radius: 8px;
    padding: 20px 70px;

}


.NavbarSetting-person img {
    width: 40px;
    margin-right: 22px;
    height: 40px;
    border-radius: 50px;
}
.NavbarSetting-person img:hover {

    border: 2px solid #ffc200;
    transition: 0.4s;
    padding: 1px;
    
    box-shadow: 4px 5px 4px 0 rgba(9, 11, 23, 0.79);
}
.NavbarSetting-person i:hover , .NavbarSetting-person h2:hover {
    transition: 0.4s;
    /* background: #292e3a; */
  
    color: #ffc200;
}
.NavbarSetting-info h2 {
    font-size: 30px;
    margin-top: 15px;


    color: #ffc200;
    text-transform: uppercase;
    font-weight:500;
    

}

.NavbarSetting-person {
    text-align: right;
}


.NavbarSetting-person h2 {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0;
    display: inline-block;
    text-transform: uppercase;
    
}


.NavbarSetting-person i {
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
    color: #fff;
}


.ant-divider.ant-divider-vertical {
    background: #5d616a;
    height: 60px;
    margin-left: 25px;
    margin-right: 10px;
}

