.header{
    background: url("../../../img/home-bg.jpg");
    height: 100vh;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    padding: 33px 0;
    background-attachment: fixed;
    /* -webkit-animation-delay: 2s; */
    overflow: hidden;
    }
    
    .header-logo img{
        width: 76px;
        height: 73px;
    }
    
    .header .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
        color: #1890ff;
        border-bottom: 2px solid #1890ff;
        margin-left: 24px;
        border-bottom: solid 1.5px rgba(9, 11, 23, 0.79);
        line-height: 47px;
        padding-left: 0;
        text-indent: 12px;
    }
    
    .header .ant-menu {
      
        background: transparent;
       
    }
    
    .header .ant-menu-horizontal {
      
        border-bottom: 0;
        float: right;
    
    }
    
    
    .header .ant-menu-horizontal > .ant-menu-item {
        font-size: 20px;
        font-weight: 500;
        color: #191b2a;
        text-transform: uppercase;
        /* margin-left: 57px !important; */
    }
    
    
    
    .header-caption h3 {
        font-size: 48px;
        color: rgb(25, 27, 42);
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 60px;
    
    }
    
    .header-caption p {
        letter-spacing: 0.6px;
        color: #191b2a;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 40px;
    
    }
    
    
    .header-caption {
        text-align: left;
        position: absolute;
        top: 24%;
        cursor: pointer;
        left: 45%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-100%,100%);
    
    }
    
    